<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800268154683-m6fuh7lgqt08ed0ja9q21hi93h37knpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800268154683-m6fuh7lgqt08ed0ja9q21hi93h37knpa</string>
	<key>API_KEY</key>
	<string>AIzaSyBsx4M21upd_ATVkQaAXZphvz_ro3qFd90</string>
	<key>GCM_SENDER_ID</key>
	<string>800268154683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-ac0bb</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-ac0bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800268154683:ios:dca974828602097f7ee91e</string>
</dict>
</plist>